<div class="container">
  <div class="row">
    <% for post in @posts %>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <img src="<%= post["image"] %>" class="card-img-top" alt="Post image">
          <div class="card-body">
            <h4 class="card-title">
              <% user = User.find_by({ "id" => post["user_id"] }) %>
              <%= user ? user["first_name"] : "anonymous" %>
            </h4>
            <p class="card-text"><%= post["body"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>